<mat-tab-group class="tab-group">
    <mat-tab label="Todos os gêneros">
      <mat-progress-bar *ngIf="!source" mode="indeterminate"></mat-progress-bar>
      <div fxLayout="row wrap" f1q  xLayoutAlign="start center" class="div-row">
        <div *ngFor="let PlayList of PlayListsSource" class="div-list">
          
          <mat-card class="mat-card-playList" 
          fxFlex="0 1 calc(33.3% - 11px)"
          fxFlex.lt-md="0 1 calc(50% - 11px)"
          fxFlex.lt-sm="100%">
  
            <mat-card-title class="mat-card-title-playList">
              <div class="row">
                <p>
                  <span class="spam-name" fxFlex="90" fxLayoutAlign="start center">{{PlayList.PlayListName}}</span>
                  <span fxFlex></span>
                </p>
                <p class="channel-name">
                  <span>Canal: {{PlayList.channelName}}</span>
                  <span fxFlex></span>
                  <mat-chip color="accent" selected class="mat-chip-theme">
                     <span fxLayoutAlign="end center">Gênero: {{PlayList.PlayListTheme}}</span>
                  </mat-chip>
                </p>
              </div>
            </mat-card-title>
            <mat-card-content fxLayoutAlign="center center">
              <div class="video">
                <iframe width="360" height="215" [src]="PlayList.urlSafe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Terror">
      <mat-progress-bar *ngIf="!terror" mode="indeterminate"></mat-progress-bar>
      <div fxLayout="row wrap" f1q  xLayoutAlign="start center" class="div-row">
        <div *ngFor="let PlayList of PlayListsTerror" class="div-list">
          
          <mat-card class="mat-card-playList" 
          fxFlex="0 1 calc(33.3% - 11px)"
          fxFlex.lt-md="0 1 calc(50% - 11px)"
          fxFlex.lt-sm="100%">
  
            <mat-card-title class="mat-card-title-playList">
              <div class="row">
                <p>
                  <span class="spam-name" fxFlex="90" fxLayoutAlign="start center">{{PlayList.PlayListName}}</span>
                  <span fxFlex></span>
                </p>
                <p class="channel-name">
                  <span>Canal: {{PlayList.channelName}}</span>
                  <span fxFlex></span>
                  <mat-chip color="accent" selected class="mat-chip-theme">
                     <span fxLayoutAlign="end center">Gênero: {{PlayList.PlayListTheme}}</span>
                  </mat-chip>
                </p>
              </div>
            </mat-card-title>
            <mat-card-content fxLayoutAlign="center center">
              <div class="video">
                <iframe width="360" height="215" [src]="PlayList.urlSafe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Aventura">
      <mat-progress-bar *ngIf="!aventura" mode="indeterminate"></mat-progress-bar>
      <div fxLayout="row wrap" f1q  xLayoutAlign="start center" class="div-row">
        <div *ngFor="let PlayList of PlayListsAventura" class="div-list">
          
          <mat-card class="mat-card-playList" 
          fxFlex="0 1 calc(33.3% - 11px)"
          fxFlex.lt-md="0 1 calc(50% - 11px)"
          fxFlex.lt-sm="100%">
  
            <mat-card-title class="mat-card-title-playList">
              <div class="row">
                <p>
                  <span class="spam-name" fxFlex="90" fxLayoutAlign="start center">{{PlayList.PlayListName}}</span>
                  <span fxFlex></span>
                </p>
                <p class="channel-name">
                  <span>Canal: {{PlayList.channelName}}</span>
                  <span fxFlex></span>
                  <mat-chip color="accent" selected class="mat-chip-theme">
                     <span fxLayoutAlign="end center">Gênero: {{PlayList.PlayListTheme}}</span>
                  </mat-chip>
                </p>
              </div>
            </mat-card-title>
            <mat-card-content fxLayoutAlign="center center">
              <div class="video">
                <iframe width="360" height="215" [src]="PlayList.urlSafe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>
</mat-tab-group>